@charset "UTF-8";
.menu {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background-color: white;
    opacity: .9;
    height: 85px;
    z-index: 9999;
    box-shadow: 3px 3px 10px black;
    box-sizing: border-box;
  }

.menu h1 {
  float: left;
  margin-left: 20px;
}

.menu nav {
  margin: auto;
  width: 600px;
}
.menu ul {
  list-style-type: none;
}

.menu li {
  margin-right: 10px;
  display: inline-block;
  float: right;
  padding: 8px;
}

 .frontpage img {
   width: 100%;
 }
