@charset "UTF-8";
.menu {
    display: block;
    width: 100%;
    background-color: white;
    opacity: .9;
    height: 85px;
    z-index: 9999;
    box-shadow: 3px 3px 10px black;
    box-sizing: border-box;
  }

.menu h1 {
  float: left;
  margin-left: 20px;
  font-family: "Bodoni 72", Book, serif;
  font-size: 32px;
}

.menu nav {
  margin: auto;
  width: 600px;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  float: right;
  padding: 8px;
}

.menu a {
  display: block;
  margin-top: 20px;
  float: right;
}

.menu a:link {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  font-family: "Bodoni 72", Book, serif;
}

.menu a:visited {
  text-decoration: none;
}

.menu a:hover {
  color: black;
}

 .frontpage img {
   width: 100%;
 }

 .aboutme img {
   width: 100%;
 }

 .aboutme h1 {
   clear: both;
 }
